body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.counter{
	background-color: white;
	opacity: 0.8;
	width: 500px;
	height: 300px;
	border-radius: 20px;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    text-align: center;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-overlay{
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.35);
}

button{
	background-color: #00FFFF;
	border: none;
    color: #00008B;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover{
   transform: scale(1.1);
}

hr{
	width: 70%;
	margin-bottom: 20px;
}

label{
	font-weight: bold;
	font-size: 20px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 0;
}

li{
	margin-right: 10px;
	maring-left: 10px;
	display: inline-block;
}

li:nth-child(1){
	maring-top: 5px;
}

span{
	font-size: 50px;
}

h2{
	margin-top: 50px;
	margin-bottom: 50px;
}

.complete-title{
	animation: color-change 4s infinite;
	margin-bottom: auto;
}

.complete-info{
	marign-top: auto;
	position: fixed;
}
.complete{
	position: relative;
}

@keyframes color-change{
	0%{color: red;}
	25%{color: pink;}
	50%{color: blue; font-size: 40px}
	75%{color: green;}
	100%{color: yellow;}
}

